/.DS_Store
/bayes_model_simple
/bayesian_model
/mcmc_cmdstanpy.html
/mcmc_cmdstanpy.pdf
RRT/posterior_draws.csv
RRT/.DS_Store
bayes_model_simple.exe
bayes_model_simple.stan
bayes_model.exe
bayes_model.stan
.ipynb_checkpoints/mcmc_beta_bernoulli-checkpoint.ipynb
beta_bernoulli.stan
beta_bernoulli.exe
